<div class="app">
  <div class="header">
    <div class="title">
      <h1>
        Claim Clash
      </h1>
    </div>
    <div class="tabs">
      <a id="articles" class="tab" [class.selected]="currentTab == 'articles'" routerLink="articles">
        Articles
      </a>
      <a id="facts" class="tab" [class.selected]="currentTab == 'facts'" routerLink="facts">
        Facts
      </a>
      <a id="claims" class="tab" [class.selected]="currentTab == 'claims'" routerLink="claims">
        Claims
      </a>
    </div>
  </div>
  
  <div class="body">
    <div class="left">
      Facts here
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  
</div>