.app {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  padding: 0 32px;

  .header {
    padding: 12px 0;

    .title {
      h1 {
        margin: 0;
      }
    }
  }

  .body {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 248px 1fr;

    .facts {}

    .topics {

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .topic {
          text-decoration: none;

          .topic-body {
            padding: 10px;
            border: 1px solid gray;
            border-radius: 8px;
          }
        }
      }
    }

  }
}