.app {
  width: 100vw;
  min-height: 100%;
  background-color: white;

  .topic {
    width: 300px;
    margin: 16px;
    display: flex;
    justify-content: center;
    height: 52px;
    border: gray 1px solid;
  }
}